html, body {
  margin: 0;
  padding: 0;
}

.box {
  width: 100%;
  height: 100vh;
  background-color: gray;
  display: flex;
}

.box div {
  width: 20%;
  height: 300px;
  margin: auto;
}

.first {
  background-color: cyan;
}

.second {
  background-color: magenta;
}
